pandas
numpy
Pillow==9.0.1
scikit-image==0.19.2
streamlit==1.7.0
face_detection==0.2.2
opencv-python-headless==4.5.5.64
streamlit-drawable-canvas==0.8.0
click==8.0.4
torch==1.13.0.dev20220613+cu116
torchvision==0.12.0
#opencv-python
scipy
tqdm
#basicsr>=1.3.4.0
facexlib>=0.2.0.3
lmdb
pyyaml
tb-nightly
yapf
PIL
